{% extends 'base.html' %}

{% block title %}Список проектов{% endblock %}
{% block menu %}
    <a href="{% url 'create task' %}" class="nav-link">Создать задачу</a>
    <a href="{% url 'main_page' %}" class="nav-link">К задачам</a>

{% endblock %}
{% block menu_buttons %}
    <a class = "nav-link" href="{% url 'create project' %}">Создать проект</a>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <h1 class = "text-center pt-3">Проекты</h1>
    {% include 'partial/pagination.html' %}
    <h2 class = "text-center pt-2">Активные</h2>
    <div class="mt-1 mb-1 row justify-content-center">
        {% for project in projects_active %}
            {% include 'partial/project_card.html' %}
        {% endfor %}
    </div>
    <h2 class = "text-center pt-2">Закрытые</h2>
    {% if projects_closed %}
        <div class="mt-1 mb-1 row justify-content-center">
            {% for project in projects_closed %}
                {% include 'partial/project_card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-center pt-2">Нет закрытых проектов</h3>
    {% endif %}
    {% include 'partial/pagination.html' %}
{% endblock %}