{% load widget_tweaks %}

<div class="card ml-1 mr-1 mb-1" style="width: 18rem;">
    <div class="card-header">
        <h5 class="card-title text-center">{{ project.name }}</h5>
    </div>
    <div class="card-body ">
        <h6><strong>Создано: </strong>{{ project.created_at }}</h6>
        <h6><strong>Обновлено: </strong>{{ project.updated_at }}</h6>
    </div>
    <div class="btn-group">
        <a href="{% url 'webapp:view project' project.pk %}" class="card-link btn btn-success btn-sm">Просмотр</a>
    </div>
</div>