{% load widget_tweaks %}

{% block tasks_list %}
    <ul class="list-group">
        <li class="list-group-item">
            <h6 class="font-italic"><strong>Tasks</strong></h6>
        </li>
        {% for task in tasks %}
            <li class ="list-group-item d-flex flex-column">
                <div class="row">
                    <h6 class="font-italic ml-3">
                        <a href="{% url 'webapp:view task' task.pk %}"><strong>{{ task.summary }}</strong></a>
                    </h6>
                    <span class="ml-auto"><strong>Created at: </strong>{{ task.created_at }}</span>
                </div>
            </li>
        {% empty %}
            <li class ="list-group-item">No tasks yet.</li>
        {% endfor %}
    </ul>
{% endblock %}