{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block menu %}
    <a href="{% url 'webapp:create task' %}" class="nav-link">Создать задачу</a>
    <a href="{% url 'webapp:view projects' %}" class="nav-link">К проектам</a>
    {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'accounts:register' %}" class="nav-link">Регистрация</a>
        </li>
        <span class="ml-3 navbar-text">Привет, холоп! Что пришел?</span>
        <li class="nav-item">
            <a href="{% url 'accounts:login' %}" class="nav-link">Войти в трекер</a>
        </li>
    {% else %}
        <span class="ml-3 navbar-text">Милый человек, добро пожаловать!</span>
        <li class="nav-item">
            <a href="{% url 'accounts:logout' %}" class="nav-link">Покинуть трекер</a>
        </li>
    {% endif %}
{% endblock %}
{% block menu_buttons %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'webapp:main_page' %}" method="get">
        {% include 'partial/search_form.html' %}
    </form>
    <button type="button" class="nav-link" data-toggle="modal" data-target="#statuslist">Список статусов</button>
    <button type="button" class="nav-link" data-toggle="modal" data-target="#typeslist">Список типов</button>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
        <h1 class = "text-center pt-3">Задачи</h1>
        {% include 'partial/pagination.html' %}
        <div class="mt-1 mb-1 row justify-content-center">
            {% for task in tasks %}
                <div class="card ml-1 mr-1 mb-1" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title text-center">{{ task.summary }}</h5>
                    </div>
                    <div class="card-body ">
                        <h6><strong>Тип: </strong>{{ task.type }}</h6>
                        <h6><strong>Статус: </strong>{{ task.status }}</h6>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'webapp:view task' task.pk %}" class="card-link btn btn-success btn-sm">Просмотр</a>
                        {% if task.project.status == 'closed' %}
                        {% else %}
                            <a href="{% url  'webapp:edit task' task.pk %}" class="card-link btn btn-success btn-sm">Редактировать</a>
                            <a href="{% url 'webapp:delete task' task.pk %}" class="card-link btn btn-success btn-sm">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include 'partial/pagination.html' %}
    {% include 'partial/modal_window_status.html' %}
    {% include 'partial/modal_window_types.html' %}
{% endblock %}