{% extends 'base.html' %}
{% block title %}Просмотр задачи{% endblock %}
{% block content %}
    <div class = "d-flex flex-column pt-5 pb-5">
        <h1>Задача</h1>
        <h2><strong>Описание задачи:</strong> {{ task.summary }}</h2>
        <h2>
            <strong>Проект: </strong>
                {% if task.project %}
                    <a href="{%  url 'webapp:view project' task.project.pk %}">{{ task.project }}</a>
                {% else %}
                    Не назначено
                {% endif %}
        </h2>
        <h3><strong>Статус задачи:</strong> {{ task.status }}</h3>
        <h3><strong>Тип задачи: </strong>{{ task.type }}</h3>
        <h4><strong>Создатель: </strong>{{ task.created_by }}</h4>
        <h4><strong>Исполнитель: </strong>{{ task.assigned_to }}</h4>
        <p><strong>Дата создания:</strong> {{ task.created_at }}</p>
        <p><strong>Подробно:</strong> {{ task.description|escape|linebreaks }}</p>
        <div class = "btn-block">
            {% if task.project.status == 'closed' %}
            {% else %}
                <a href="{% url  'webapp:edit task' task.pk %}" class="card-link btn btn-success btn-sm">Редактировать</a>
                <a href="{% url 'webapp:delete task' task.pk %}" class="card-link btn btn-success btn-sm">Удалить</a>
            {% endif %}
            <a class = "btn btn-warning" href="{% url 'webapp:main_page' %}">Вернуться на главную страницу</a>
        </div>
    </div>
    </div>
{% endblock %}